@import "tailwindcss";

/* Proje bazlı baseline (template gibi light) */
:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: white;
  color: #0f172a;
  font-family:
    "Poppins",
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;

  /* slate-900 */
}

html {
  scroll-behavior: smooth;
}
