@import "tailwindcss";

/* Proje bazlı baseline (template gibi light) */
:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: white;
  color: #0f172a;
  /* slate-900 */
}